/*-- HTML CSS Starts --*/
/* -- Fonts : Starts --*/
/* @font-face {
    font-family:'ArialMT';
    src: url('fonts/ArialMT.eot');
	src: url('fonts/ArialMT.eot?#iefix') format('embedded-opentype'),		
	url('fonts/ArialMT.woff') format('woff'),	
	url('fonts/ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */
/*Fonts : Ends*/
/*! normalize - making reset / default for all browsers */
*,
html {
  font-family: "verdana";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body {
  background-color: #ffffff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  margin: 0px;
  padding: 0px;
  touch-action: manipulation !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 5px 0;
}
b,
strong,
optgroup {
  font-weight: 700;
}
pre,
textarea {
  overflow: auto;
}
button::-moz-focus-inner,
input::-moz-focus-inner,
legend {
  border: 0;
  padding: 0;
}
::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}

div {
  box-sizing: border-box;
}

html {
  overflow: hidden !important;
  touch-action: manipulation !important;
}

div {
  touch-action: manipulation !important;
}

body {
  font-family: "verdana";
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: #ffffff;
}

body input {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  user-select: text;
}

body textarea {
  -webkit-touch-callout: text;
  -moz-touch-callout: text;
  -ms-touch-callout: text;
  -o-touch-callout: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
}
/*-- HTML CSS Ends --*/

/*-- Loader CSS Starts --*/
#html5Loader {
  top: 0;
  left: 0;
  margin: 0;
  position: fixed;
  z-index: 3;
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDA3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #ffffff),
    color-stop(49%, #ffffff)
  );
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 49%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 49%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
#html5Loader .fallback {
  top: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white; /*vertical-align: middle;*/ /*display: block;font-style: normal;font-size:100px;*/
}

div#DvLoaderCont {
  width: 300px;
  height: 50px;
  position: absolute;
  top: -100px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  z-index: 100;
  background: #ffffff;
  overflow: hidden;
}
div#DvLoaderProgress {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: -300px;
  background: #0072c8;
}
div#DvLoaderProgressBgText {
  width: 300px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #0072c8;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  line-height: 50px;
  letter-spacing: 5px;
  font-weight: bold;
}

/*-- Loader CSS Ends --*/

/*--Player CSS Starts --*/
div#DvMainCont {
  width: 780px;
  height: 750px;
  position: absolute;
  background: url("../assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
}
div#DvScrCont {
  width: 780px;
  height: 750px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/*-- Global css : Starts --*/
.ClsDisableCont {
  pointer-events: none;
  cursor: none;
}
.ClsEnableCont {
  pointer-events: auto;
}

div#DvCoverDiv {
  width: 780px;
  height: 750px;
  position: absolute;
  top: 0px;
  left: 0px; /*background: rgba(0,0,0,0.5);*/
}

/**/

/*-- Screen 0 : Starts --*/
div#DvScr0 {
  width: 780px;
  height: 750px;
  position: absolute;
  top: 0px;
  left: 0px;
}
div#DvMissingWords {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 85px;
  left: 330px;
  background-image: url("../assets/images/guesstheword.png");
  background-size: cover;
}
.ClsLogo {
  width: 212px;
  height: 135px;
  position: absolute;
  top: 24px;
  left: 854px;
  background-image: url("../assets/images/logo.png");
  background-size: cover;
}
div#DvStartBtn {
  width: 500px;
  height: 265px;
  position: absolute;
  top: 630px;
  left: 440px;
  background-image: url("../assets/images/btnStart.png");
  background-size: cover;
  font-size: 70px;
  color: #ffffff;
  line-height: 126px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
/*-- Screen 0 : Ends --*/

/*-- Screen 1 : Starts --*/
div#DvScr1 {
  width: 780px;
  height: 750px;
  position: absolute;
  top: 0px;
  left: 0px; /*background: rgba(0,0,0,0.5);*/
}
.ClsQuesScrnCont {
  width: 1480px;
  height: 1045px;
  position: absolute;
  top: 0px;
  left: 180px;
}

div#DvLabel1 {
  width: 500px;
  height: 144px;
  position: absolute;
  top: 55px;
  left: 340px;
  background-image: url("../assets/images/label2.png");
  /* background-size: cover; */
}
div#DvLogo1 {
  left: 1676px;
}

div#DvWordBg0 {
  width: 440px;
  height: 195px;
  position: absolute;
  top: 0;
  left: 55px;
  background-image: url("../assets/images/box.png");
  background-size: cover;
}

.correct {
  background-image: url("../assets/images/correct.png") !important;
}

.incorrect {
  background-image: url("../assets/images/incorrect.png") !important;
}

div#DvWordBg1 {
  width: 440px;
  height: 220px;
  position: absolute;
  top: 0;
  right: 45px;
  background-image: url("../assets/images/box.png");
  background-size: cover;
}

div#DvWord0 {
  width: 484px;
  height: 204px;
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  line-height: 234px;
  cursor: pointer;
}
div#DvWord1 {
  width: 484px;
  height: 204px;
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  line-height: 234px;
  cursor: pointer;
}

.ClsDrag {
  width: 440px;
  height: 200px;
  position: absolute;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 204px;
  /* color: #7B5E45; */
  color: #000;
  cursor: pointer; /*background: rgba(0, 0, 0, 0.5);*/
}

.ClsContDrag2 .ClsDrag0 {
  top: 895px;
  left: 245px;
}
.ClsContDrag2 .ClsDrag1 {
  top: 895px;
  left: 731px;
}

.ClsContDrag3 .ClsDrag0 {
  top: 665px;
  left: 252px;
}
.ClsContDrag3 .ClsDrag1 {
  top: 665px;
  left: 764px;
}
.ClsContDrag3 .ClsDrag2 {
  top: 665px;
  left: 252px;
}

.ClsQuesCont {
  width: 1480px;
  height: 893px;
  position: absolute;
  top: 15px;
  left: 0px;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#wordbg {
  width: 1028px;
  height: 195px;
  /* border: 1px solid black; */
  position: absolute;
  bottom: 0;
  left: 370px;
}

.ClsQuesStatus {
  width: 440px;
  height: 220px;
  position: absolute;
  bottom: -60px;
  /* left: 70px; */
  background-size: contain; /*background: rgba(0,0,0,0.5);*/
}
.ClsQuesStatus.ClsCorrect0 {
  background-image: url("../assets/images/correct.png");
  left: 246px;
}
.ClsQuesStatus.ClsCorrect1 {
  background-image: url("../assets/images/correct.png");
  right: 306px;
}

div#DvContStar {
  width: 700px;
  height: 677px;
  position: absolute;
  top: 115px;
  left: 540px;
  text-align: center;
  background-size: cover;
  background-image: url("../assets/images/star.png");
  z-index: 1;
  transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
div#DvContStar.PlayZoomIn {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

div#DvPrev {
  width: 130px;
  height: 131px;
  position: absolute;
  bottom: 18px;
  left: 235px;
  background-image: url("../assets/images/prev.png");
  background-size: contain;
  font-size: 36px;
  color: #ffffff;
  line-height: 64px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
div#DvPrev.ClsDisable {
  display: none;
}

div#DvNext {
  width: 130px;
  height: 131px;
  position: absolute;
  bottom: 18px;
  right: 360px;
  background-image: url("../assets/images/next.png");
  background-size: contain;
  font-size: 36px;
  color: #ffffff;
  line-height: 64px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
div#DvNext.ClsDisable {
  display: none;
}

/*-- Screen 1 : Ends --*/

/*-- Screen 2 : Starts --*/
div#DvScr2 {
  width: 780px;
  height: 750px;
  position: absolute;
  top: 0px;
  left: 0px;
}
div#DvFantastic {
  width: 850px;
  height: 213px;
  position: absolute;
  top: 230px;
  left: 227px;
  background-image: url("../assets/images/fantastic.png");
  /* background-size: contain; */
}
div#DvReplay {
  width: 500px;
  height: 265px;
  position: absolute;
  top: 550px;
  left: 400px;
  background-image: url("../assets/images/btnReplay.png");
  /* background-size: cover; */
  font-size: 70px;
  color: #ffffff;
  line-height: 142px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}

.ClsLabel {
  width: 780px;
  height: 50px;
  position: absolute;
  left: 0px;
  font-size: 32px;
  color: #000000;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}
div#DvTotalQues {
  top: 100px;
}
div#CorrectAns {
  top: 150px;
}
div#IncorrectAns {
  top: 200px;
}
div#DvMessage {
  width: 800px;
  height: 494px;
  position: absolute;
  top: 245px;
  left: 500px;
  z-index: 1;
  background-image: url("../assets/images/tryAgain.png");
  transition: transform .3s ease-in-out;
}
/*-- Screen 2 : Ends --*/
